* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  
  --color-background: #121214;
  --color-red: #e83f5b;
  --color-primary: #8257e6;
  --color-primary-hover: #9466ff;
  --color-secondary: #e1e1e6;
  --color-text: #a8a8b3;
  --color-support: #737380;
  --color-borders: #323238;
  font-size: 60%; /* controle das medidas rem */
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--color-background);
  color: var(--color-text);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

}

h1 {
  font-size: 3.5rem;
  color: var(--color-secondary);
  font-weight: bold;
  text-align: center;

}

small {
  display: block;
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#arquivoDaFoto,
#btnCorteFoto, 
#btnBaixar {
  display: none;
}

button {
  display: flex;
  height: 5.2rem;
  width: 26rem;
  border-radius: .8rem;
  border: none;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 1.8rem;
  box-shadow: 1px 1px 1px var(--color-support);
  margin: .4rem 0;
  transition: 0.2s;
}

button:hover {
  background: var(--color-primary-hover);
}

main img {
  max-width: 400px;
  color: #fff;
  border: 1px solid var(--color-borders);
  margin: 0.8rem 0;
}

#seletorFerramenta {
  border: 2px dashed var(--color-red);
  display: none;
  position: fixed;
  
}

footer {
  display: flex;
  height: 50px;
  margin-top: 2rem;
  justify-content: center;
}

footer svg {
  fill: var(--color-red);
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}